@use "sass:math";
@import "scss/style.scss";

//common
//========================================================================================================================================================

.submenu {
  margin-top: rem(20);
}

.menuItem {
  @media (min-width: $pc) {
    display: flex;
  }
}

.menuGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nextButton {
  display: flex;
  min-width: 50px;
  justify-content: flex-end;

  svg {
    width: rem(20);
    height: rem(20);
    flex-shrink: 0;
  }
}

.arrowActive {
  transform: rotate(180deg);
}

//menu
//========================================================================================================================================================

.menu {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

//pcMenu
//========================================================================================================================================================

.pcMenu {
  flex-direction: row;
  width: auto;
  margin-right: auto;

  .submenu {
    border-right: 1px solid #cacdd8;
    margin-top: 0;
    padding: rem(10) rem(25);
    min-width: rem(250);
    width: auto;

    .menuLink:hover {
      color: $blue-color;
    }
  }

  .menuLink {
    &.active {
      background-color: $blue-color;
      display: flex;
      align-items: center;
      width: 100%;
      min-height: rem(37);
      border-radius: 100px;
      color: white;
      padding: 0 rem(15);
    }
  }

  .menuWrapper {
    position: absolute;
    z-index: 2;
    top: rem(91);
    left: rem(17);
    border: 1px solid #cacdd8;
    background-color: #fff;
  }

  .top {
    display: flex;
  }

  .productsList {
    display: flex;
    position: relative;
    padding: rem(10);
  }

  .productCard {
  }
}
