@use "sass:math";
@import "scss/style.scss";

.layoutControls {
  display: none;
  align-items: center;
  gap: rem(10);

  @media (min-width: 1046px) {
    display: flex;
  }

  .layoutControl {
  }

  .layoutButton {
    svg {
      fill: #a2a6b0;
      stroke: #a2a6b0;
    }

    &:hover {
      svg {
        filter: opacity(60%);
      }
    }

    &.active {
      svg {
        fill: $mainColor;
        stroke: $mainColor;
      }
    }
  }
}
