@use "sass:math";
@import "scss/style.scss";

.title {
  composes: container from global;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: rem(25);
}

.breadcrumbs {
  composes: container from global;
  margin-bottom: rem(25);
}

.body {
  display: flex;
  composes: container from global;
  gap: rem(10);
}

.aside {
  width: rem(234);
  flex-shrink: 0;

  @media (max-width: $mobile) {
    display: none;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: rem(20);
  margin-bottom: rem(25);

  @media (max-width: 899px) {
    flex-direction: column;
  }
}

.catalog {
  margin-bottom: rem(25);
  flex: 1 1 0%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: rem(25);
  margin-top: auto;
}
