@use "sass:math";
@import "scss/style.scss";


.title {
  composes: container from global;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: rem(20);
}

.breadcrumbs {
  margin-bottom: rem(20);
}

.body {
  display: flex;
  composes: container from global;
  gap: rem(10);
}

.aside {
  width: rem(235);
}

.content {
  flex-grow: 1;
}

.header {
  display: flex;
  gap: rem(20);
}
