@use "sass:math";
@import "scss/style.scss";

.promo {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.container {
  composes: container from global;
}

.swiper {
  position: relative;
}

.slide {
  img {
    width: 100%;
  }
}

.leftbutton {
  transform: translateY(-50%);
}

.rigthbutton {
  right: 0;
  transform: translateY(-50%) scale(-1, 1);
}
