@use "sass:math";
@import "scss/style.scss";

.brands {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #cacdd8;

  @media (max-width:$mobile){
     justify-content: center;
  }
}

.brand {
  width: rem(200);
  min-height: rem(150);
  display: flex;
  justify-content: center;
  align-items: center;
}
