@use "sass:math";
@import "scss/style.scss";

.card {
  position: relative;
  flex: 0 1 rem(230);

  &:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }

  &.column {
    flex-grow: 1;
  }
}

.imageWrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: rem(10);

  .column & {
    width: auto;
  }
}

.icons {
  display: none;
  position: absolute;
  top: rem(15);
  right: rem(10);
  gap: rem(3);
  z-index: 2;

  .card:hover & {
    display: block;
  }

  .card.column:hover & {
    display: flex;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    svg {
      width: rem(30);
      height: rem(30);
    }

    &:first-child {
      transform: translateY(calc(100% + 0.3125rem));

      &:active {
        transform: scale(1.05) translateY(calc(100% + 0.3125rem));
      }

      .column & {
        transform: unset;
      }
    }

    &:active {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    @media (any-hover: hover) {
      &:hover{
        background-color: $blue-color;

        svg {
          stroke: white;
        }
      }
    }

    &.isFavorite {
      background-color: $blue-color;

      svg {
        stroke: white;
      }
    }

    .column & {
      position: static;
      display: flex;
      flex-direction: row;
    }
  }

  .column & {
    display: flex;
    bottom: rem(50);
    top: auto;
  }
}

.placeholder {
  position: absolute;
  left: rem(30);

  .column & {
    left: auto;
    right: rem(10);
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1.5625rem;

  gap: 0.625rem;

  .column & {
    flex-direction: row;
    gap: rem(50);
    padding: rem(30) rem(50);
    align-items: stretch;
  }
}

.image {
  composes: ibg from global;
  width: 100%;
  height: rem(150);
  z-index: -1;
  display: flex;
  flex-shrink: 0;

  img {
    object-fit: contain;
  }

  .column & {
    width: rem(250);
    height: rem(250);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  .column & {
    max-width: rem(350);
    justify-content: center;
  }
}

.rating {
  display: flex;
  position: relative;
  gap: rem(5);
  margin-top: auto;
  width: 100%;
}

.reviewsCount {
  color: $grey-color;
}

.desc {
  .column & {
    margin-top: auto;
  }
}

.price {
  display: grid;
  gap: rem(2);
  color: #666;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
  line-height: 140%;
}

.oldPrice {
  text-decoration: line-through;
}

.newPrice {
  color: $title-color;
  font-weight: 700;
  font-size: rem(18);
}

.btnWrapper {
  padding: rem(10) 0;
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  background-color: #fff;
  justify-content: center;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  min-height: 55px;
  z-index: 2;

  &.disabled {
    button {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .card:hover & {
    display: flex;
  }

  .column & {
    position: static;
    display: flex;
    transform: initial;
    min-height: auto;
    box-shadow: none;
    padding: 0;
    margin-top: auto;
  }
}

.addToCartBtn {
  display: flex;
  position: absolute;
  top: 0;

  svg {
    fill: $blue-color;
  }

  &:hover {
    svg {
      fill: white;
    }
  }

  &:active {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .column & {
    position: static;
    margin-right: auto;
  }
}

.specs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: rem(205);
}

.group {
  display: flex;
  justify-content: space-between;
  padding: rem(5) rem(15);
  font-size: 12px;
  gap: rem(20);

  &:nth-child(2n) {
    background-color: #f5f7ff;
  }
}

.spec {
}

.specDesc {
}
