@use "sass:math";
@import "scss/style.scss";

.newProducts {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.slider {
  min-height: rem(475);
}

.container {
  composes: container from global;
}
