@use "sass:math";
@import "scss/style.scss";

.newProducts {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.slider {
  min-height: rem(380);
}

.container {
  composes: container from global;
}

.activeSlide {
  min-width: 0;
  display: flex;
  @include adaptiveValue("margin-left", 140, 40, 530);
}
