@use "sass:math";
@import "scss/style.scss";

.button {
  display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.625rem;

  border: 2px solid transparent;
  border-radius: 3.125rem;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s;
}

.button.grey {
  color: $grey-color;
  border-color: $grey-color;

  @media (any-hover: hover){
    &:hover{
      color: #fff;
      background-color: $grey-color;
    }
  }
}

.button.filled.grey {
  color: #fff;
  background-color: $grey-color;

  @media (any-hover: hover){
    &:hover{
      color: $grey-color;
      background-color: #fff;
    }
  }
}

.button.blue,
.inCart {
  color: $blue-color;
  border-color: $blue-color;

  @media (any-hover: hover){
    &:hover{
      color: #fff;
      background-color: $blue-color;
    }
  }
}

.button.filled.blue {
  color: #fff;
  background-color: $blue-color;

  @media (any-hover: hover){
    &:hover{
      color: $blue-color;
      background-color: #fff;
    }
  }
}

.inCart {
  pointer-events: none;
  opacity: 0.5;
}
