@use "sass:math";
@import "scss/style.scss";

.brandsList {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.group {
  width: 7.3125rem;
  padding: rem(15);

  label {
    display: block;
    width: 100%;
  }

  input:checked + label span {
    background-color: fade-out($color: $blue-color, $amount: 0.9);
  }
}

.brand {
  composes: ibg from global;
  display: block;
  width: 100%;
  height: 4.75rem;
  cursor: pointer;

  img {
    object-fit: contain;
  }
}
