@use "sass:math";
@import "scss/style.scss";

.productSrceen {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  composes: container from global;
  width: 100%;
}

.header {
  color: #666;

  font-size: 14px;

  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: rem(101);
}

.productNavigation {
  display: flex;
  gap: rem(30);
}

.navItem {
}

.navButton {
  &.isActive {
    position: relative;
    font-weight: 600;
    color: #000;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      height: rem(2);
      background-color: $blue-color;
    }
  }
}

.cartNavigation {
  display: flex;
  gap: rem(20);
  align-items: center;
}

.price {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-grow: 1;

  @media (max-width:$tablet){
     flex-direction: column;
  }
}

.leftColumn {
  flex: 0 1 50%;
  background: #f5f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(20);
}

.breadcrumbs {
  margin-bottom: rem(50);
}

.productContent {
  width: rem(567);

  @media (max-width:$tablet){
    width: 100%;
 }
}

.details {
  padding-left: 30px;
  li {
    list-style: initial;
    margin-bottom: rem(20);
  }
}

.spec {
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;

  .group {
    &:nth-child(2n) {
      background: #f5f7ff;
    }
    padding: rem(10);
    min-width: rem(250);
    display: grid;
    grid-template-columns: 150px 1fr;

    dd {
      justify-self: center;
    }
  }
}

.rightColumn {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(20);
}

.image {
  min-height: 500px;
  width: 100%;

  img {
    object-fit: contain;
  }

  @media (max-width:$tablet){
    min-height: auto;
    @include adaptiveValue("height", 500, 200);
 }
}
