@use "sass:math";
@import "scss/style.scss";

.socialList {
  display: flex;
  align-items: center;

  gap: rem(10);
}

.socialItem {
  &.footer {
    filter: brightness(0.5);
  }

  &:hover {
    filter: brightness(0.5);
  }

  &:active {
    filter: brightness(0.2);
  }
}
