// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: #000000; // Цвет шрифта по умолчанию

// Основные цвета
$blue-color:#0156FF;
$grey-color: #838383;
$gr-color: #78A962;
$error-color: #C94D3F;
$bg-color-gray: #F5F7FF;
$title-color: #000000;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1398;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;
$containerPaddingTablet: 40;
$containerPaddingPC: 40;

$tabletWidth: 991.98;
$mobileWidth: 767.98;
$mobileSmallWidth: 479.98;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPaddingPC;
$diff: $tabletWidth - $mobileWidth;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em($tabletWidth); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em($mobileWidth); // Телефоны L
$mobileSmall: em($mobileSmallWidth); // Телефоны S

$responsiveType: 1;
